<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991216858508-b0q85uam2i1gd0tccok1loq56mt0u7tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991216858508-b0q85uam2i1gd0tccok1loq56mt0u7tc</string>
	<key>API_KEY</key>
	<string>AIzaSyAGBwZ1T0CW8HrNo7ZflslNmSgttSykUH8</string>
	<key>GCM_SENDER_ID</key>
	<string>991216858508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mahmoud.Abdul-Wahab.TakeAwayAdmin.TakeAwayAdmin</string>
	<key>PROJECT_ID</key>
	<string>takeaway-519aa</string>
	<key>STORAGE_BUCKET</key>
	<string>takeaway-519aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991216858508:ios:f1469efa2b8adcdc9b92a9</string>
	<key>DATABASE_URL</key>
	<string>https://takeaway-519aa.firebaseio.com</string>
</dict>
</plist>